{% load static %} <!--loads static files - if we dont have this static files will not load-->


<!doctype html>
<html lang="en">
  <head>

    {% block meta %} 
        <!-- By putting in the block meta it will also So we got a simple base template now and that's going to act as the framework for our entire project.
        Because of this, I like to organize everything in my base templates into blocks.
        So that when we extend this template, later on, we can replace chunks of it as needed.
        For example, I'm going to wrap all this meta stuff in a block meta
        Which will give me the ability to replace or extend it in templates that extend this base. -->
        
        <!-- Required meta tags -->
        <!-- the first line below allows support of older versions of internet explorer version and elimate validation errors when validating our html -->
        <meta http-equiv="X-UA-Compatible" contents="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %} 

    {% block extra_meta %}
    {% endblock %} 

    {% block corecss %} 
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% endblock %} 

    {% block extra_corecss %} 
    {% endblock %} 


    {% block corejs %}    
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        -->
    {% endblock %} 

    {% block extra_js %} 
    {% endblock %} 

    <title>Boutique Ado {% block extra_title %}{% endblock %}</title>  <!-- if we wanted to add extra to the title for eg bag page Boutique Ado Bag-->
  </head>
  <body>

    <header class="container-fluid fixed-top"> <!--container which fixes the header to the top of the page -->
        <div class="row">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>Boutique Ado</strong></h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="">  <!--form has a method of get meaning we'll be submitting searches as url parameters
                    and for the moment we'll have no action since the url it needs to submit to doesn't exist yet.-->
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">  <!--Inside the form, we have a 100% width input group which contains a text input with the name of q for query. and thats what will be submitted to the action url -->
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="Submit">  <!--Lastly we have got a buttons attached to the text input using the input group append class from bootstrap which contains a search icon form font awesome-->
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>  <!-- the anchor element here will be the parent menu containing the font awesome user icon and the text my account in a paragraph -->
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                            </div>
                        </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                    <!--You'll notice we're checking whether this grand total template variable exists.
                                    And if it does then we want to display the total formatted to two decimal places.
                                    If not we'll just display 0.
                                    We're using the same template variable to determine which classes to apply to the element
                                    So if there's something in the bag the font will be bold and a different colour.-->
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    {% if messages %}

        <div class="message-container"></div> <!-- section to display messages -->

    {% endif %}

    {% block page_header %}  <!--So let's create a block page header. Which is going to act as an additional header
    on pages that extend this base template in case we want to put something at the
    top of those pages but underneath the main header.--->

    {% endblock %}

    {% block content %} <!--main content -->
    {% endblock %}

    {% block postloadjs %} <!--load javascript -->
    {% endblock %}
 

 
  </body>
</html>